<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Component:removeChild - Tapspace Test</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      #container {
        background: gray;
        width: 100%;
        height: 100%;
      }
      #testspace {
        width: 800px;
        height: 500px;
      }
    </style>
    <script src="../../../../dist/tapspace.min.js"></script>
    <script src="../../testlib.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="testspace"></div>
    </div>
    <script>
      test.plan(4)

      // Setup
      const view = tapspace.createView('#testspace')
      const space = tapspace.createSpace()
      view.addChild(space)

      // Construct a hierarchy of nodes
      space.element.innerHTML = '' +
        '<div id="affine-a" class="affine-element">\n' +
        ' <div id="affine-aa" class="affine-element">\n' +
        '  <div id="affine-aaa" class="affine-element">\n' +
        '  </div>\n' +
        '  <div id="affine-aab" class="affine-element">\n' +
        '  </div>\n' +
        '  <div id="nonaffine-aac">\n' +
        '  </div>\n' +
        ' </div>\n' +
        '</div>'

      const Component = tapspace.components.Component
      const na = new Component(space.element.querySelector('#affine-a'))
      const naa = new Component(space.element.querySelector('#affine-aa'))
      const naaa = new Component(space.element.querySelector('#affine-aaa'))
      const naab = new Component(space.element.querySelector('#affine-aab'))
      // const naac = document.querySelector('#nonaffine-aac')
      // naac is not affine

      // Ensure connected
      test.equal(
        naab.getViewport(),
        view,
        'should be connected to view'
      )

      // Remove leaf
      naab.remove()
      test.equal(
        naab.getViewport(),
        null,
        'should be disconnected via remove'
      )

      // Ensure connected
      test.equal(
        naaa.getViewport(),
        view,
        'should be connected to view'
      )

      // Remove child
      naa.removeChild(naaa)
      test.equal(
        naaa.getViewport(),
        null,
        'should be disconnected via removeChild'
      )
    </script>
  </body>
</html>
