<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Component:replaceChild - Tapspace Test</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      #container {
        background: gray;
        width: 100%;
        height: 100%;
      }
      #testspace {
        width: 800px;
        height: 500px;
      }
    </style>
    <script src="../../../../dist/tapspace.min.js"></script>
    <script src="../../testlib.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="testspace"></div>
    </div>
    <script>
      test.plan(4)

      // Setup
      const view = tapspace.createView('#testspace')
      const space = tapspace.createSpace()
      view.addChild(space, view.at(100, 50))

      const item = tapspace.createItem('<h1>Hello</h1>')
      item.setSize(400, 200)
      space.addChild(item, space.at(300, 150))

      // Create the replacement, note we try different size.
      const rival = tapspace.createItem('<h1>World</h1>')
      rival.setSize(600, 300)

      // Sample a coordinate.
      const before = item.at(0, 0).transitRaw(view)

      // Replace
      space.replaceChild(item, rival)

      // Sample the same coordinate again
      const after = rival.at(0, 0).transitRaw(view)

      test.equal(item.getParent(), null, 'should not have parent')
      test.equal(rival.getParent(), space, 'should have parent')

      test.deepEqual(
        after,
        before,
        'samples should match'
      )

      // Ensure item size was not carried to the rival.
      test.deepEqual(
        rival.atBottomRight().transitRaw(view),
        { x: 1000, y: 500, z: 0 },
        'should have correctly size-offset corner'
      )
    </script>
  </body>
</html>
