<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FrameComponent:transformToFill - Tapspace Test</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    #container {
      background: gray;
      width: 100%;
      height: 100%;
    }
    #testspace {
      width: 500px;
      height: 400px;
    }
  </style>
  <script src="../../../../dist/tapspace.min.js"></script>
  <script src="../../testlib.js"></script>
</head>
<body>
  <div id="container">
    <div id="testspace"></div>
  </div>
  <script>
    test.plan(2)

    // Setup
    const view = tapspace.createView('#testspace')
    const space = tapspace.createSpace()
    view.addChild(space)

    const air = tapspace.createItem('<h1>Air</h1>')
    air.setSize(100, 100)
    air.setAnchor(50, 50)
    air.setParent(space, space.at(0, 0))

    const balloon = tapspace.createItem('<h1>Balloon</h1>')
    balloon.setSize(200, 400)
    balloon.setAnchor(100, 200)
    balloon.setParent(space, space.at(400, 400)) // zero at (300, 200)

    // Operation
    air.transformToFill(balloon)

    // Test
    let pa, pb
    pa = air.atNorm(0, 0).changeBasis(view)
    pb = balloon.at(-100, 0).changeBasis(view)
    test.ok(pa.almostEqual(pb), 'should extend beyond balloon left')

    pa = air.atNorm(1, 1).changeBasis(view)
    pb = balloon.at(300, 400).changeBasis(view)
    test.ok(pa.almostEqual(pb), 'should extend beyond balloon right')
  </script>
</body>
</html>
