<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Component:setParent - Tapspace Test</title>
  <link rel="stylesheet" href="../default.css" />
  <script src="../../../dist/tapspace.min.js"></script>
  <script src="../../testlib.js"></script>
</head>
<body>
  <div id="container">
    <div id="testspace"></div>
  </div>
  <script>
    test.plan(8)

    // Setup
    const view = tapspace.createView('#testspace')
    const space = tapspace.createSpace()
    view.addChild(space, view.at(100, 50))
    const backyard = tapspace.createSpace()
    view.addChild(backyard, view.at(200, 100))

    const item = tapspace.createItem('<h1>Hello</h1>')
    item.setSize(400, 200)

    test.equal(item.getParent(), null, 'should have no parent')

    // Set parent without position
    item.setParent(space)

    test.deepEqual(
      item.at(0, 0).transitRaw(view),
      { x: 100, y: 50, z: 0 },
      'should be at default position'
    )

    test.equal(item.getParent(), space, 'should have parent')

    // Replace parent with position.
    item.setParent(backyard, backyard.at(200, 100))

    test.equal(item.getParent(), backyard, 'should have correct parent')

    test.deepEqual(
      item.at(0, 0).transitRaw(view),
      { x: 400, y: 200, z: 0 },
      'should have correct position'
    )

    // Replace parent without position
    item.setParent(space)

    test.equal(item.getParent(), space, 'should have space parent')
    test.deepEqual(
      item.at(0, 0).transitRaw(space),
      { x: 200, y: 100, z: 0 },
      'should preserve local position'
    )

    test.throws(() => {
      item.setParent(null)
    }, 'should detect non-existing parent')
  </script>
</body>
</html>
