<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>View - Tapspace Example</title>

  <!-- Disable user scalability to override native touch gestures. -->
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <style>
    html, body, #space {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    body {
      font-size: 16px;
      color: white;
      background: #000;
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <div id="space"></div>

  <script src="../assets/ghoulog.js"></script>
  <script src="https://unpkg.com/tapspace@1.0.2/dist/tapspace.min.js"></script>
  <script>
    var space = new tapspace.Space()
    var viewElement = document.getElementById('space')
    var view = new tapspace.SpaceView(space)
    view.mount(viewElement)

    var html = '<p>Some <em>HTML</em> fixed to the view</p>'
    var infobar = new tapspace.SpaceHTML(html, view)
    infobar.translate(infobar.atMidN(), view.atMidN())

    tapspace.preload('../assets/chellah_star.jpg', function (err, img) {
      if (err) { throw err }

      var g = new tapspace.SpaceGroup(space)
      var simg1 = new tapspace.SpaceImage(img, g)
      var simg2 = new tapspace.SpaceImage(img, g)

      view.fitScale(g)
      view.scale(view.atMid(), 1.618)

      var touch1 = new tapspace.Touchable(view, simg1)
      var touch2 = new tapspace.Touchable(view, simg2)
      touch1.start({ translate: true, scale: true, rotate: true })
      touch2.start({ translate: true, scale: true, rotate: true })

      var viewTouch = new tapspace.Touchable(view, view)
      viewTouch.start({ translate: true, scale: true, rotate: true, tap: true });

      (function defineLog () {
        viewTouch.on('gesturestart', function () {
          console.log('view:gesturestart')
        })
        viewTouch.on('gesturemove', function () {
          console.log('view:gesturemove')
        })
        viewTouch.on('gestureend', function () {
          console.log('view:gestureend')
        })
        viewTouch.on('tap', function () {
          console.log('view:tap')
        })
      }())
    })
  </script>
</body>
</html>
