<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Item:at - Tapspace Test</title>
  <link rel="stylesheet" href="../default.css" />
  <script src="../../../dist/tapspace.min.js"></script>
  <script src="../../testlib.js"></script>
</head>
<body>
  <div id="container">
    <div id="testspace"></div>
  </div>
  <script>
    const t = test
    t.plan(6)

    // Setup
    const view = tapspace.createView('#testspace')
    const space = tapspace.createSpace()
    view.addChild(space)

    const item = tapspace.createItem('<h1>Hello</h1>')
    space.addChild(item)
    item.translateBy({ x: 10, y: 6 })

    const xyOnElem = item.at(0, 0)
    const xyOnView = item.at(0, 0).changeBasis(view)

    t.equal(xyOnElem.basis, item, 'item is the basis')
    t.equal(xyOnElem.point.x, 0)
    t.equal(xyOnElem.point.y, 0)
    t.equal(xyOnView.basis, view, 'view is the basis')
    t.equal(xyOnView.point.x, 10, 'view x match')
    t.equal(xyOnView.point.y, 6, 'view y match')
  </script>
</body>
</html>
