<div id="affine-a" class="affine-element">
  <div id="affine-aa" class="affine-element">
    <div id="affine-aaa" class="affine-element">
    </div>
    <div id="affine-aab" class="affine-element">
    </div>
    <div id="nonaffine-aac">
    </div>
  </div>
</div>
