<div class="affine-viewport" style="width:500px; height:300px; background:lightgray">
  <div class="affine-element" data-width="400" data-height="300" style="background: lightblue">
    <h1>Hello World</h1>
  </div>
</div>
