<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Viewport:getAspectRatio – Tapspace Test</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      #container {
        background: gray;
        width: 100%;
        height: 100%;
      }
      #testspace {
        width: 100%;
        height: 100%;
      }
    </style>
    <script src="../../../../dist/tapspace.min.js"></script>
    <script src="../../testlib/testlib.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="testspace"></div>
    </div>
    <script>
      test.plan(1)

      const view = tapspace.createView('#testspace')
      const basis = tapspace.createSpace()
      view.addChild(basis)

      test.equal(view.getAspectRatio(), 2, 'should match viewport ratio')

      test.end()
    </script>
  </body>
</html>
