<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Viewport:measureGroup – Tapspace Test</title>
    <link rel="stylesheet" href="../default.css" />
    <script src="../../../dist/tapspace.min.js"></script>
    <script src="../../testlib.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="testspace"></div>
    </div>
    <script>
      test.plan(8)

      const view = tapspace.createView('#testspace')

      // Populate view
      const space0 = tapspace.createSpace()
      const space1 = tapspace.createSpace()
      view.addChild(space0, view.at(0, 0))
      view.addChild(space1, view.at(100, 100))
      space1.scaleBy(2)

      // Create items to measure
      const item00 = tapspace.createNode(10)
      const item01 = tapspace.createNode(10)
      space0.addChild(item00, space0.at(10, 20))
      space0.addChild(item01, space0.at(20, 40))
      const item10 = tapspace.createNode(10)
      space1.addChild(item10, space1.at(10, 20))

      // Measure
      const measures0 = view.measureGroup(space0)
      const measures1 = view.measureGroup(space1)

      // Test first measures
      test.equal(measures0.length, 3, 'should have three measures')
      test.equal(measures0[0].target, space0, 'should have space as first')
      test.equal(measures0[1].target, item00, 'should have item as second')
      test.equal(measures0[1].dilation, 1, 'should have correct dilation')
      test.equal(measures0[1].areaPx, 400, 'should have correct area')
      // Test second measure
      test.equal(measures1.length, 2, 'should have two measurements')
      test.equal(measures1[1].dilation, 2, 'should have scaled dilation')
      test.equal(measures1[1].areaPx, 1600, 'should have scaled area')
    </script>
  </body>
</html>
