<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Space:at – Tapspace Test</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      #container {
        background: gray;
        width: 100%;
        height: 100%;
      }
      #testspace {
        width: 800px;
        height: 500px;
      }
    </style>
    <script src="../../../../dist/tapspace.min.js"></script>
    <script src="../../testlib/testlib.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="testspace"></div>
    </div>
    <script>
      // Start
      test.plan(1)

      const view = tapspace.createView('#testspace')
      const space = tapspace.createSpace()
      view.addChild(space)

      // Take a point
      const p = space.at(1, 2)

      // Test
      test.ok(
        p.almostEqual({ basis: space, point: { x: 1, y: 2, z: 0 } }),
        'should fill z'
      )
    </script>
  </body>
</html>
