.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('food-drink.png');
  background-repeat: no-repeat;
}

.openmoji-1F347 {
  background-position: -0px -0px;
}
.openmoji-1F348 {
  background-position: -72px -0px;
}
.openmoji-1F349 {
  background-position: -144px -0px;
}
.openmoji-1F34A {
  background-position: -216px -0px;
}
.openmoji-1F34B {
  background-position: -288px -0px;
}
.openmoji-1F34C {
  background-position: -360px -0px;
}
.openmoji-1F34D {
  background-position: -432px -0px;
}
.openmoji-1F96D {
  background-position: -504px -0px;
}
.openmoji-1F34E {
  background-position: -0px -72px;
}
.openmoji-1F34F {
  background-position: -72px -72px;
}
.openmoji-1F350 {
  background-position: -144px -72px;
}
.openmoji-1F351 {
  background-position: -216px -72px;
}
.openmoji-1F352 {
  background-position: -288px -72px;
}
.openmoji-1F353 {
  background-position: -360px -72px;
}
.openmoji-1FAD0 {
  background-position: -432px -72px;
}
.openmoji-1F95D {
  background-position: -504px -72px;
}
.openmoji-1F345 {
  background-position: -0px -144px;
}
.openmoji-1FAD2 {
  background-position: -72px -144px;
}
.openmoji-1F965 {
  background-position: -144px -144px;
}
.openmoji-1F951 {
  background-position: -216px -144px;
}
.openmoji-1F346 {
  background-position: -288px -144px;
}
.openmoji-1F954 {
  background-position: -360px -144px;
}
.openmoji-1F955 {
  background-position: -432px -144px;
}
.openmoji-1F33D {
  background-position: -504px -144px;
}
.openmoji-1F336 {
  background-position: -0px -216px;
}
.openmoji-1F952 {
  background-position: -72px -216px;
}
.openmoji-1F96C {
  background-position: -144px -216px;
}
.openmoji-1F966 {
  background-position: -216px -216px;
}
.openmoji-1F9C4 {
  background-position: -288px -216px;
}
.openmoji-1F9C5 {
  background-position: -360px -216px;
}
.openmoji-1F344 {
  background-position: -432px -216px;
}
.openmoji-1F95C {
  background-position: -504px -216px;
}
.openmoji-1F330 {
  background-position: -0px -288px;
}
.openmoji-1F35E {
  background-position: -72px -288px;
}
.openmoji-1F950 {
  background-position: -144px -288px;
}
.openmoji-1F956 {
  background-position: -216px -288px;
}
.openmoji-1FAD3 {
  background-position: -288px -288px;
}
.openmoji-1F968 {
  background-position: -360px -288px;
}
.openmoji-1F96F {
  background-position: -432px -288px;
}
.openmoji-1F95E {
  background-position: -504px -288px;
}
.openmoji-1F9C7 {
  background-position: -0px -360px;
}
.openmoji-1F9C0 {
  background-position: -72px -360px;
}
.openmoji-1F356 {
  background-position: -144px -360px;
}
.openmoji-1F357 {
  background-position: -216px -360px;
}
.openmoji-1F969 {
  background-position: -288px -360px;
}
.openmoji-1F953 {
  background-position: -360px -360px;
}
.openmoji-1F354 {
  background-position: -432px -360px;
}
.openmoji-1F35F {
  background-position: -504px -360px;
}
.openmoji-1F355 {
  background-position: -0px -432px;
}
.openmoji-1F32D {
  background-position: -72px -432px;
}
.openmoji-1F96A {
  background-position: -144px -432px;
}
.openmoji-1F32E {
  background-position: -216px -432px;
}
.openmoji-1F32F {
  background-position: -288px -432px;
}
.openmoji-1FAD4 {
  background-position: -360px -432px;
}
.openmoji-1F959 {
  background-position: -432px -432px;
}
.openmoji-1F9C6 {
  background-position: -504px -432px;
}
.openmoji-1F95A {
  background-position: -0px -504px;
}
.openmoji-1F373 {
  background-position: -72px -504px;
}
.openmoji-1F958 {
  background-position: -144px -504px;
}
.openmoji-1F372 {
  background-position: -216px -504px;
}
.openmoji-1F963 {
  background-position: -288px -504px;
}
.openmoji-1F957 {
  background-position: -360px -504px;
}
.openmoji-1F37F {
  background-position: -432px -504px;
}
.openmoji-1F9C8 {
  background-position: -504px -504px;
}
.openmoji-1F9C2 {
  background-position: -0px -576px;
}
.openmoji-1F96B {
  background-position: -72px -576px;
}
.openmoji-1F371 {
  background-position: -144px -576px;
}
.openmoji-1F358 {
  background-position: -216px -576px;
}
.openmoji-1F359 {
  background-position: -288px -576px;
}
.openmoji-1F35A {
  background-position: -360px -576px;
}
.openmoji-1F35B {
  background-position: -432px -576px;
}
.openmoji-1F35C {
  background-position: -504px -576px;
}
.openmoji-1F35D {
  background-position: -0px -648px;
}
.openmoji-1F360 {
  background-position: -72px -648px;
}
.openmoji-1F362 {
  background-position: -144px -648px;
}
.openmoji-1F363 {
  background-position: -216px -648px;
}
.openmoji-1F364 {
  background-position: -288px -648px;
}
.openmoji-1F365 {
  background-position: -360px -648px;
}
.openmoji-1F96E {
  background-position: -432px -648px;
}
.openmoji-1F361 {
  background-position: -504px -648px;
}
.openmoji-1F95F {
  background-position: -0px -720px;
}
.openmoji-1F960 {
  background-position: -72px -720px;
}
.openmoji-1F961 {
  background-position: -144px -720px;
}
.openmoji-1F980 {
  background-position: -216px -720px;
}
.openmoji-1F99E {
  background-position: -288px -720px;
}
.openmoji-1F990 {
  background-position: -360px -720px;
}
.openmoji-1F991 {
  background-position: -432px -720px;
}
.openmoji-1F9AA {
  background-position: -504px -720px;
}
.openmoji-1F366 {
  background-position: -0px -792px;
}
.openmoji-1F367 {
  background-position: -72px -792px;
}
.openmoji-1F368 {
  background-position: -144px -792px;
}
.openmoji-1F369 {
  background-position: -216px -792px;
}
.openmoji-1F36A {
  background-position: -288px -792px;
}
.openmoji-1F382 {
  background-position: -360px -792px;
}
.openmoji-1F370 {
  background-position: -432px -792px;
}
.openmoji-1F9C1 {
  background-position: -504px -792px;
}
.openmoji-1F967 {
  background-position: -0px -864px;
}
.openmoji-1F36B {
  background-position: -72px -864px;
}
.openmoji-1F36C {
  background-position: -144px -864px;
}
.openmoji-1F36D {
  background-position: -216px -864px;
}
.openmoji-1F36E {
  background-position: -288px -864px;
}
.openmoji-1F36F {
  background-position: -360px -864px;
}
.openmoji-1F37C {
  background-position: -432px -864px;
}
.openmoji-1F95B {
  background-position: -504px -864px;
}
.openmoji-2615 {
  background-position: -0px -936px;
}
.openmoji-1F375 {
  background-position: -72px -936px;
}
.openmoji-1F376 {
  background-position: -144px -936px;
}
.openmoji-1F37E {
  background-position: -216px -936px;
}
.openmoji-1F377 {
  background-position: -288px -936px;
}
.openmoji-1F378 {
  background-position: -360px -936px;
}
.openmoji-1F379 {
  background-position: -432px -936px;
}
.openmoji-1F37A {
  background-position: -504px -936px;
}
.openmoji-1F37B {
  background-position: -0px -1008px;
}
.openmoji-1F942 {
  background-position: -72px -1008px;
}
.openmoji-1F943 {
  background-position: -144px -1008px;
}
.openmoji-1F964 {
  background-position: -216px -1008px;
}
.openmoji-1F9C3 {
  background-position: -288px -1008px;
}
.openmoji-1F9C9 {
  background-position: -360px -1008px;
}
.openmoji-1F9CA {
  background-position: -432px -1008px;
}
.openmoji-1F962 {
  background-position: -504px -1008px;
}
.openmoji-1F37D {
  background-position: -0px -1080px;
}
.openmoji-1F374 {
  background-position: -72px -1080px;
}
.openmoji-1F944 {
  background-position: -144px -1080px;
}
.openmoji-1F52A {
  background-position: -216px -1080px;
}
.openmoji-1F3FA {
  background-position: -288px -1080px;
}
